body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.logo {
  color: white;
  margin-left: 20px;
}
button {
  display: flex;
  align-items: center;
  background-color: rgb(172, 27, 27);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s;
  font-weight: bold;
  color: white;
}

button:hover {
  background-color: #000000;
  border: none;
  color: #ffffff;
}

.header {
  align-items: center;
  background: rgb(204, 23, 23);
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.nav_bar {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.nav a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: bold;
}

.nav a:hover {
  color: #000000;
}

.best {
  display: flex;
  justify-content: space-around;
  padding: 60px 20px;
  background: linear-gradient(black, white);
}

.cover-title {
  font-size: 35px;
  color: #ffffff;
}
.cover-box {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 100px;
}

.button {
  font-size: 20px;
  width: 120px;
  margin: 30px 0;
}

.cover-infos-box p {
  color: #ffffff;
  font-weight: bold;
}

.cover-movie img {
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 300px;
}

.categories {
  align-items: center;
  background: linear-gradient(#000000, #ffffff);
  display: flex;
  height: 600px;
  justify-content: center;
}

.container {
  width: 1200px;
}

.container h2 {
  font-size: 26px;
  color: #ffffff;
}

.carousel-container {
  align-items: center;
  display: flex;
  height: 430px;
  overflow: hidden;
  position: relative;
}

.carousel-content {
  bottom: -390px;
  display: flex;
  left: 0;
  position: absolute;
  top: 300px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  width: 1000px;
}

.btn {
  color: black;
  font-size: 36px;
  height: 70px;
  opacity: 0;
  padding: 0;
  position: absolute;
  transform: translateY(-50%) scale(0.5);
  transition: all 0.05s ease;
  visibility: hidden;
  width: 40px;
}

.box {
  position: relative;
  display: inline-block;
  margin-right: 70px;
  width: 200px;
}

.box img {
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  transition: 0.5s ease;
  width: 240px;
}

.box:hover img {
  opacity: 0.1;
}

.box:hover .hover_movie {
  opacity: 3;
}

.hover_movie {
  opacity: 0;
  transform: translate(10%, -180%);
  transition: 0.5s ease;
}

.hover_movie p {
  color: white;
  font-size: 18px;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 400px;
  font-weight: bold;
}

.hover-movie-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-content {
  background: linear-gradient(rgb(156, 156, 156), white);
  border-radius: 10px;
  margin: 5% auto;
  max-width: 70%;
  min-height: 50%;
  padding: 30px;
  width: 80%;
}

#modal-cover {
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  height: 250px;
}

.modal-content h3 {
  font-size: 25px;
  font-weight: bold;
}

.modal-info {
  font-size: 15px;
}

.modal-content p {
  display: inline;
  line-height: 150%;
  font-weight: bold;
}

strong {
  color: #ff4d4d;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
  text-decoration: none;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

.controls button:hover {
  color: rgb(235, 18, 18);
}
span:hover {
  color: rgb(196, 33, 33);
}
